body {
  font-family: var(--primary-font);
  margin-top: 100px;
  background-color: beige;
}

.hero {
  background-color: #f4f4f4;
  padding: 5px;
}

.btn.btn-outline-dark.btn-lg {
  padding: 15px;
  margin: 0px 15px;
  border: 2px solid;
}
.btn.btn-outline-dark.btn-lg:hover {
  background-color: var(--primary-font-color);
}

.hero p {
  font-size: 40px;
}
h1 {
  font-size: 80px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

a,
h1,
h2,
h4,
h5,
h6 {
  display: flex;
  justify-content: center;
  font-family: var(--primary-font);
  color: var(--primary-font-color);
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.about-me-box {
  display: flex;
  justify-content: space-evenly;
}

.box-1,
.box-2 {
  border: 1px solid var(--primary-font-color);
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 25px;
}

a.back,
a.e-mail {
  color: var(--primary-font-color);
}
a.back:hover,
a.e-mail:hover,
a.e-mail:visited {
  color: rgb(43, 41, 41);
}
.primary-link:hover {
  background-color: var(--primary-font-color);
  text-decoration: none;
  color: white;
  transition: ease-in-out 0.15s;
}
.primary-link {
  border: 2px solid;
  border-radius: 4px;
  border-color: var(--primary-font-color);
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--primary-font-color);
  font-size: 1rem;
}
#contact-me {
  display: flex;
  justify-content: center;
  font-family: var(--primary-font);
  font-weight: 300;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 30px;
}

.more-to-come {
  font-size: 100px;
  font-weight: 400;
}
:root {
  --primary-font: "raleway";
  --primary-font-color: rgb(48, 47, 47);
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  .hero p {
    font-size: 30px;
  }
  #contact-me h2 {
    font-size: 30px;
  }
  .box-1,
  .box-2 {
    font-size: 18px;
  }
}
