body {
  font-family: var(--primary-font);
  margin-top: 100px;
  background-color: beige;
}

.btn.btn-outline-dark.btn-lg {
  padding: 15px;
  margin: 0px 15px;
}

h1 {
  font-size: 80px;
  font-weight: 900;
  margin-top: 50px;
}

h2{
  font-size: 20px;
}
h1,
a,
h2,
h5 {
  display: flex;
  justify-content: center;
  font-family: var(--primary-font);
  color: var(--primary-font-color);
}

.container {
  display: flex;
  justify-content: space-evenly;
}
.box-1,
.box-2 {
  border: 1px solid var(--primary-font-color);

  padding: 10px 10px 10px 10px;
  flex-direction: column;
}
.box-1 {
  border-right-style: none;
}
a.back,
a.e-mail {
  color: var(--primary-font-color);
}
a.back:hover,
a.e-mail:hover,
a.e-mail:visited {
  color: rgb(43, 41, 41);
}
#contact-me {
  display: flex;
  justify-content: center;
  font-family: var(--primary-font);
  font-weight: 300;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

:root {
  --primary-font: "raleway";
  --primary-font-color: rgb(48, 47, 47);
}
